
  /* .carousel-container {
    height: 250px;
    width: 80dvi;
    // filter: blur(2px); 
    opacity: 0.5;
    z-index: -10;
    position: static;
  } */

  .carousel-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  }
  
  /* .carousel-image {
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0.7;
    filter: blur(2px) brightness(0.5);
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100px;
  } */
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    filter: blur(2px); /* Difuminado */
  }
  
  
  .carousel-image.visible {
    opacity: 1;
    z-index: 10;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 9999px;
    padding: 0.5rem;
    transition: background 0.3s;
  }
  
  
  .carousel-button:hover {
    background: rgba(255, 255, 255, 1);
  }

  .carousel-button.left {
    left: 1rem;
  }
  
  .carousel-button.right {
    right: 1rem;
  }

  .carousel-image.active {
    opacity: 1;
  }
  
  .overlay-content1 {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
    pointer-events: none; /* permite que los clics pasen al contenido si es necesario */
  }